---
layout: post
published: false
title: "Design of Google 2-step verification "
comments: true
categories: misc
---

# Choice

* Send by SMS (common scenario)
* Send by voice (for phones without SMS support?)
* Generate by app (no data or connection required)
* Backup numbers (when primary phone is not available)
* Backup codes (when phone is not available)